@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #007AFF;

  --font-sans: 'Roboto', sans-serif;

}

@layer base {
  .dark {
    --color-primary: #007AFF;
  }
}

a {
  transition: all 0.2s ease;
}



body {
  font-family: var(--font-sans), sans-serif;
}
